---
import type { MarkdownHeading } from 'astro'
import PageLayout from '@/layouts/CommonPage.astro'
import { Comment } from '@/components/waline'

const headings: MarkdownHeading[] = []
---

<PageLayout title='Guestbook' {headings} view={false} highlightColor='#B48B9B'>
  <p>Feel free to leave any message here.
  </p>
  
  <Comment class='mt-6' />
</PageLayout>
