---
const today = new Date();
const currentYear = today.getFullYear();
---

<footer>
	<span class="intro">© 2020 - {currentYear} <a href="/" title="子舒">子舒</a> | <a href="https://github.com/anghunk" title="Github" target="_blank">Github</a></span>
</footer>