---
const today = new Date();
const currentYear = today.getFullYear();
---

<footer>
	<span class='intro'>
		© 2020 - {currentYear}
		<a href='/' title="LynkXu's Blog">LynkXu</a>
		|
		<a href='https://github.com/lynkxu' title='Github' target='_blank'>Github</a>
	</span>
</footer>
