---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<div class='title'>
		<a href='/' class='site-home' aria-label={SITE_TITLE}>
			<span class='site-wordmark' aria-hidden='true'>
				<span class='site-name'>LynkXu</span>
				<span class='site-separator'>/</span>
				<span class='site-label'>Blog</span>
			</span>
		</a>
	</div>
	<nav aria-label='Primary navigation'>
		<HeaderLink href='/blog'>Archive</HeaderLink>
		{/* <HeaderLink href='/projects'>Projects</HeaderLink> */}
		<HeaderLink href='/shuoshuo'>Memos</HeaderLink>
		<HeaderLink href='/message'>Guestbook</HeaderLink>
		<HeaderLink href='/about'>About</HeaderLink>
		<HeaderLink href='/index.xml'>RSS</HeaderLink>
	</nav>
</header>
