---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<div class='title'>
		<a href='/' class='site-home' aria-label={SITE_TITLE}>
			<span class='site-wordmark' aria-hidden='true'>
				<span class='site-name'>LynkXu</span>
				<span class='site-separator'>/</span>
				<span class='site-label'>Blog</span>
			</span>
		</a>
	</div>
	<nav class='section-nav' aria-label='主导航'>
		<HeaderLink href='/blog'>归档</HeaderLink>
		{/* <HeaderLink href='/projects'>Projects</HeaderLink> */}
		<HeaderLink href='/shuoshuo'>碎语</HeaderLink>
		<HeaderLink href='/message'>留言</HeaderLink>
		<HeaderLink href='/about'>关于</HeaderLink>
		<HeaderLink href='/index.xml'>RSS</HeaderLink>
	</nav>
</header>
