---
import type { CollectionEntry } from 'astro:content';
import Base from './Base.astro';
import Comments from '../components/Comments.astro';

type Props = CollectionEntry<'page'>['data'] & {
	content?: string;
};

const { title } = Astro.props;
---

<Base
	title={title}
	description={title}>
	<p></p>
	<h2>–</h2>
	<h1>{title}</h1>
	<div class='post-content content'>
		<slot />
	</div>

	<!-- 评论组件 -->
	<Comments showLinuxDo={false} />
</Base>
